<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/python.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="main-panel">
        <div class="header">
            <h1>Python Application</h1>
        </div>
        <div class="main-board">
            <div class="applist">
                <div class="create-app">
                    <button class="create">
                        Create Application
                    </button>
                </div>
                No application found, please create one.
            </div>
        </div>
    </div>
</body>
</html>